#BackgroundImgCont{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
#BackgroundImg img{
    height: 100vh; 
    width: auto; 
    display: inline;
}
#BackgroundImgFilter{
    width: 100vw; 
    height: 100vh; 
    background:#00000090; 
    position: absolute; 
    top: 0;
}
#TitContainer{
    position: absolute; 
    top:0; 
    left: 0; 
    margin-Left:5vw;
}
.LinkTit{
    font-size: 1.5vw; 
    color:white;
    margin: 1vw; 
    border: solid #dfdfdf; 
    border-radius: 15px; 
    padding: 15px;
}
.contentStyle{
    margin: 0 ;
    height: 100vh;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: blue 
}